/* Start of global declarations 
Here we define global settings and variables used in the project. We define
basic colors and values that we want to be consistent during the whole process.
*/

/* Start of variables definition */
:root{
  --primary: #CC9933;
  --secondary:#1313AB;
  --tertiary: #288105;
}

/* Start of fonts definition 
If we use fonts as filebased versions downloaded and made accessible to the 
browser from the assets on the server, we declare them here globally. This is not
necessary if fonts are used from the web like Google Fonts or others.
*/

@font-face {
  font-family: 'Roboto-light';
  font-weight: 300;
  src: url("/assets/fonts/roboto-light-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-light-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-light-italic';
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/roboto-lightitalic-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-lightitalic-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("/assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-regular-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-medium';
  font-weight: 500;
  src: url("/assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-medium-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-medium-italic';
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/roboto-mediumitalic-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-mediumitalic-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-bold';
  font-weight: 700;
  src: url("/assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-bold-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-bold-italic';
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
       url("/assets/fonts/roboto-bolditalic-webfont.woff") format("woff")
}

/* End of fonts definition */



/* Start of basic version for all browsers and screenreaders. Setting the minimal
viable experience with the webpage. The goal is to have a mobile first version of 
the page with all the necessary information readable on every device that can show 
webpages. */

body{
  font-family: 'Roboto';
}

.mainwrapper{
  display: grid;
  grid-template-areas:
        'header'
        'welcome'
        'bio'
        'quote'
        'learn'
        'footer';

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Key line */
  /* grid-gap: 1rem; Spacing between grid items */
}

header {
  /* border: 2px solid red; */
  /* margin: 5px; */
  grid-area: header;
}

.navlist{
  /* list-style-type: none; */
  /* border: 2px solid violet; */
  /* padding: 0; */
  /* margin: 0; */
  /* background-color: black; */
  /* text-align: center; */
  /* color:var(--tertiary); */
}

.navlist li{
  /* list-style-type: none; */
  /* display: block; */
  /* border: 2px solid rgb(255, 255, 255); */
  /* margin: 5px; */
  /* position: relative; */
  /* color:crimson; */
}

.navlist li a{
  /* border: 2px solid darkmagenta; */
  /* color:crimson; */
  /* width: 200px; */
  /* display: block; */
  /* text-transform: uppercase; */
  /* font-family: 'Roboto-bold'; */
  /* font-size: 1.2rem; */
  /* text-decoration:none; */
  /* text-align: center; */
  /* padding: 20px; */
}

/* .navlist li:not(:first-child){
  text-transform: uppercase;
  font-size: 0.75rem;
  text-decoration:none;
} */

.navlist li:not(:first-child) a:hover{
  /* color:#fff; */
  /* background-color: var(--primary); */
  
}

/* .navlist li:not(:first-child) a::before{
  content: "";
  display:block;
  height:100%;
  background-color: #000;
  width:50px;
  position:absolute;

} */
/* .navlist li:not(:first-child){
  float: left;
} */

/* .navlist li::after {
  content: "";
  display:block;
  clear:both;
} */

/* .navlist::after{
  content: "";
  display:block;
  clear:both;
} */

/* .navitem{ */
  /* background-color: red;
  float:left;
  width: 16%;
  margin: 1%;
  padding: 1%;
  height: 50px; */
  
/* } */

.navitem img{
  /* width: 80%; */
  /* max-height:2rem; */
}

.main{
  /* display: grid; */
  border: 2px solid blue;
  /* margin: 20px 5px; */
  /* grid-area: main; */
}

#welcome{
  border: 2px solid pink;
  /* margin: 20px 5px; */
  grid-area: welcome;
}

#bio{
  border: 2px solid green;
  /* margin: 20px 5px; */
  grid-area: bio;
}

#quote{
  border: 2px solid maroon;
  margin: 20px 5px;
  grid-area: quote;
}

#learn{
  border: 2px solid darkorange;
  margin: 20px 5px;
  grid-area: learn
}

footer {
  /* border: 2px solid brown; */
  margin: 20px 5px;
  grid-area: footer;
}