/* Start of global declarations 
Here we define global settings and variables used in the project. We define
basic colors and values that we want to be consistent during the whole process.
*/

/* Start of variables definition */
:root{
  --primary: #FFC636;
  --secondary: #0A0B5B;
  --tertiary: #288105;
}
/* End of variables definition */



/* Start of fonts definition 
If we use fonts as filebased versions downloaded and made accessible to the 
browser from the assets on the server, we declare them here globally. This is not
necessary if fonts are used from the web like Google Fonts or others.
*/

/* @font-face {
  font-family: 'Rubik Regular';
  src: url("/assets/fonts/Rubik-Regular.ttf") format("ttf"),
}

body{
  font-family:'Rubik-Regular';
}
 */
/* End of fonts definition */



/* Start of basic version for all browsers and screenreaders. Setting the minimal
viable experience with the webpage. The goal is to have a mobile first version of 
the page with all the necessary information readable on every device that can show 
webpages. */

body{
    background-color:var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}

.navlist{
  display: block;
  /* background-color:var(--secondary); */
  padding: 1em;
  /* width: 1vh; */
}

/* P, a, img{
  width: 50%;
  margin: 20px;
  padding: 30px;
  border: 2px solid #0A0B5B;
  display: block;
} */