/* Start of global declarations 
Here we define global settings and variables used in the project. We define
basic colors and values that we want to be consistent during the whole process.
*/

/* Start of variables definition */
:root {
  --primary: #CC9933;
  --secondary: #1313AB;
  --tertiary: #288105;
}

/* Start of fonts definition 
If we use fonts as filebased versions downloaded and made accessible to the 
browser from the assets on the server, we declare them here globally. This is not
necessary if fonts are used from the web like Google Fonts or others.
*/

@font-face {
  font-family: 'Roboto-light';
  font-weight: 300;
  src: url("/assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-light-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-light-italic';
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/roboto-lightitalic-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-lightitalic-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("/assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-regular-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-medium';
  font-weight: 500;
  src: url("/assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-medium-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-medium-italic';
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/roboto-mediumitalic-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-mediumitalic-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-bold';
  font-weight: 700;
  src: url("/assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-bold-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Roboto-bold-italic';
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-bolditalic-webfont.woff") format("woff")
}

/* End of fonts definition */



/* Start of basic version for all browsers and screenreaders. Setting the minimal
viable experience with the webpage. The goal is to have a mobile first version of 
the page with all the necessary information readable on every device that can show 
webpages. */

body {
  margin: 0;
  font-family: 'Roboto';
}

/* .mainwrapper{
  display: grid;
  grid-template-areas:
        'header'
        'main'
        'bio'
        'quote'
        'learn'
        'footer';
} */

header {
  padding: 0 45px;
  /* margin: 5px; */
  background-color: #283593;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 70px;
  height: 70px;
  object-fit: scale-down;
  border-radius: 50%;
  margin-left: 0;
  padding-left: auto;
  margin-right: auto;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: var(--primary);
}


main {
  /* display: grid; */
  border: 2px solid blue;
  padding: 5px;
  margin: 20px 5px;
  /* grid-area: main; */
}

#bio {
  border: 2px solid green;
  padding: 5px;
  margin: 20px 5px;
  /* grid-area: bio; */
}

#quote {
  border: 2px solid maroon;
  padding: 5px;
  margin: 20px 5px;
  /* grid-area: quote; */
}

#learn {
  border: 2px solid darkorange;
  padding: 5px;
  margin: 20px 5px;
  /* grid-area: learn */
}

footer {
  border: 2px solid green;
  padding: 5px;
  margin: 20px 5px;
  /* grid-area: footer; */
}